<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/LIFE_MAC06/pro/Max6/MaxSDK-6.1.4/PROJECT/time/ray.taptempo/taptempo.xcodeproj</string>
</dict>
</plist>
